/* Gemeinsame Stilregeln */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #beb6b6; */
    background: linear-gradient(to left, #beb6b6, #f1f1f1);
    color: #000000;
    overflow-x: hidden;
}

header {
    background: linear-gradient(to right, #a33131, #ffffff);
    color: #000000;
    padding: 11px;
    text-align: center;
    border-top: #000000 3px solid;
    border-left: #000000 3px solid;
    border-right: #000000 3px solid;
}

.fa-newspaper {
    color: #000000;
}
.fa-mobile {
    color: #000000;
}

nav {
    background: linear-gradient(to right, #a33131, #ffffff);
    border: #000000 3px solid;
    color: #000000;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

footer {
    background: linear-gradient(to right, #a33131, #ffffff);
    color: #000000;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: #000000 3px solid;
    border-left: #000000 3px solid;
    border-right: #000000 3px solid;
}

a:link {
    color: inherit; /* Erbt die Farbe vom übergeordneten Element */
    text-decoration: none; /* Entfernt die Unterstreichung */
}

/* Besuchte Links */
a:visited {
    color: inherit; /* Erbt die Farbe vom übergeordneten Element */
    text-decoration: none; /* Entfernt die Unterstreichung */
}

.haupttext {
    border: 3px solid #000000;
    background: linear-gradient(to top, #a33131, #ffffff);
    padding: 20px;
    width: 320px; /* Breite erhöht auf 300px */
    border-radius: 20px;
    text-align: center;
    margin: 100px auto 30px; /* 100px Abstand nach oben, auto für zentrierte Positionierung horizontal, 30px Abstand nach unten */
    margin-left: 770px; /* Verschiebt das Element um 700px nach rechts */
}

/* Media Query für Mobilgeräte */
@media only screen and (max-width: 600px) {
    .haupttext {
        width: calc(100% - 70px); /* 100% Breite minus 40px (Padding) */
        margin: 100px auto; /* Zentriert das Element vertikal und horizontal */
        margin-left: 10; /* Setzt den horizontalen Abstand zurück */
    }

    .container {
        max-width: 100px;
    }
}


.container {
    max-width: 600px;
    margin: 100 auto;
    padding: 20px;
    background: linear-gradient(to left, #beb6b6, #f1f1f1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: #000000 1px solid;
    border-radius: 10px;
}
.input-field {
    width: 100%;
    padding: 10px;
    color: #000000;
    margin-bottom: 10px;
    border: 1px solid #000000;
    background: linear-gradient(to right, #a33131, #ffffff);
    border-radius: 5px;
    position: relative;
}
.button {
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}
.button:hover {
    background-color: #218838;
}
.tooltip {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
.button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}