/* Gemeinsame Stilregeln */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #beb6b6; */
    background: linear-gradient(to left, #beb6b6, #f1f1f1);
    color: #ffffff;
    overflow-x: hidden; /* Verhindert horizontales Scrollen auf allen Bildschirmgrößen */
}

header {
    background: linear-gradient(to right, #a33131, #ffffff); /* Rot nach Weiß Farbverlauf von links nach rechts */
    color: #000000;
    border-top: #000000 3px solid;
    border-left: #000000 3px solid;
    border-right: #000000 3px solid;
    padding: 11px;
    text-align: center;
}
.fa-house {
    color: #000000; /* Setze die Farbe des Haus-Icons auf Weiß */
}
.fa-mobile {
    color: #000000;
}
a:link {
    color: inherit; /* Erbt die Farbe vom übergeordneten Element */
    text-decoration: none; /* Entfernt die Unterstreichung */
}

/* Besuchte Links */
a:visited {
    color: inherit; /* Erbt die Farbe vom übergeordneten Element */
    text-decoration: none; /* Entfernt die Unterstreichung */
}
nav {
    background: linear-gradient(to right, #a33131, #ffffff); /* Rot nach Weiß Farbverlauf von links nach rechts */
    color: #000000;
    border: #000000 3px solid;
    padding: 10px;
    text-align: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
}

footer {
    background: linear-gradient(to right, #a33131, #ffffff); /* Rot nach Weiß Farbverlauf von links nach rechts */
    color: #000000;
    font-family: Arial, sans-serif;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: #000000 3px solid;
    border-left: #000000 3px solid;
    border-right: #000000 3px solid;
}


.aktuelles-lied1,
.aktuelles-lied2,
.auftritt {
    border: 3px solid #000000;
    color: #000000;
    background: linear-gradient(to top, #a33131, #ffffff);
    padding: 20px;
    width: 320px; /* Breite erhöht auf 300px */
    border-radius: 30px;
    text-align: center;
    margin: 50px auto; /* Zentriert das Element horizontal und fügt Abstand oben und unten hinzu */
}

/* Media Query für Mobilgeräte */
@media only screen and (max-width: 600px) {
    .aktuelles-lied1,
    .aktuelles-lied2 {
        width: calc(100% - 60px); /* 100% Breite minus 40px (Padding) */
        margin-left: 5; /* Setzt den horizontalen Abstand zurück */
        margin-top: 40;
    }
    
    .auftritt {
        position: fixed; /* Positioniert das Element relativ zum Viewport */
        bottom: 100px; /* Abstand zum unteren Rand des Bildschirms (inkl. Footer-Höhe) */
        left: calc(50% - 160px); /* Zentriert das Element horizontal */
        width: 320px; /* Breite auf 300px festlegen */
        margin-left: -25; /* Setzt den horizontalen Abstand zurück */
    }
}
